<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>ClassName</key>
		<string>ViewController</string>
		<key>ItemName</key>
		<string>首页</string>
		<key>imageNames</key>
		<dict>
			<key>normal</key>
			<string>homeicon_normal</string>
			<key>selected</key>
			<string>homeicon_selected</string>
			<key>hightlight</key>
			<string>homeicon_selected</string>
		</dict>
	</dict>
	<key>1</key>
	<dict>
		<key>ClassName</key>
		<string>ViewController</string>
		<key>ItemName</key>
		<string>农场</string>
		<key>imageNames</key>
		<dict>
			<key>normal</key>
			<string>farmicon_normal</string>
			<key>selected</key>
			<string>farmicon_selected</string>
			<key>hightlight</key>
			<string>farmicon_selected</string>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>ClassName</key>
		<string>ViewController</string>
		<key>ItemName</key>
		<string>发布</string>
		<key>imageNames</key>
		<dict>
			<key>normal</key>
			<string>release</string>
			<key>selected</key>
			<string>release</string>
			<key>hightlight</key>
			<string>release</string>
		</dict>
	</dict>
	<key>3</key>
	<dict>
		<key>ClassName</key>
		<string>ViewController</string>
		<key>ItemName</key>
		<string>消息</string>
		<key>imageNames</key>
		<dict>
			<key>normal</key>
			<string>message_normal</string>
			<key>selected</key>
			<string>message_selected</string>
			<key>hightlight</key>
			<string>message_selected</string>
		</dict>
	</dict>
</dict>
</plist>
