<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>ClassName</key>
		<string>HomeMainVC</string>
		<key>ItemName</key>
		<string>首页</string>
		<key>imageNames</key>
		<dict>
			<key>normal</key>
			<string>首页</string>
			<key>selected</key>
			<string>首页fill</string>
			<key>hightlight</key>
			<string>首页fill</string>
		</dict>
	</dict>
	<key>1</key>
	<dict>
		<key>ClassName</key>
		<string>BoardMainVC</string>
		<key>ItemName</key>
		<string>风云榜</string>
		<key>imageNames</key>
		<dict>
			<key>normal</key>
			<string>风云榜</string>
			<key>selected</key>
			<string>风云榜fill</string>
			<key>hightlight</key>
			<string>风云榜fill</string>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>ClassName</key>
		<string>ResultMainVC</string>
		<key>ItemName</key>
		<string>开奖</string>
		<key>imageNames</key>
		<dict>
			<key>normal</key>
			<string>开奖</string>
			<key>selected</key>
			<string>开奖fill</string>
			<key>hightlight</key>
			<string>开奖fill</string>
		</dict>
	</dict>
	<key>3</key>
	<dict>
		<key>ClassName</key>
		<string>UserMainVC</string>
		<key>ItemName</key>
		<string>我的</string>
		<key>imageNames</key>
		<dict>
			<key>normal</key>
			<string>我的</string>
			<key>selected</key>
			<string>我的fill</string>
			<key>hightlight</key>
			<string>我的fill</string>
		</dict>
	</dict>
</dict>
</plist>
